#card{
    height: 200px;
    width: 150px;
    background-color: pink;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

#cards {
    display: flex;
    justify-content: flex-start;
    list-style-type: none; 
    flex-wrap: wrap;
}

#title{
    width: 100%;
}
#pokeType{
    width: 100%;
}

#types{
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
}